@page
@model RegisterModel
@using OMS.Utility
@{

}

<div class="row backgroundWhite border">
    <div class="col-md-12">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4 class="text-primary"><i class="fas fa-users-cog"></i> Create a new account.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="Input.Name"></label>

                </div>
                <div class="col-5">
                    <input asp-for="Input.Name" class="form-control" autofocus/>
                    <span asp-validation-for="Input.Name" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="Input.Email"></label>

                </div>
                <div class="col-5">
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="Input.PhoneNumber"></label>

                </div>
                <div class="col-5">
                    <input asp-for="Input.PhoneNumber" class="form-control" />
                    <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="Input.Address"></label>

                </div>
                <div class="col-5">
                    <input asp-for="Input.Address" class="form-control" />
                    <span asp-validation-for="Input.Address" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="Input.City"></label>

                </div>
                <div class="col-5">
                    <input asp-for="Input.City" class="form-control" />
                    <span asp-validation-for="Input.City" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="Input.CardId"></label>

                </div>
                <div class="col-5">
                    <input asp-for="Input.CardId" class="form-control" />
                    <span asp-validation-for="Input.CardId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="Input.Password"></label>

                </div>
                <div class="col-5">
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="Input.ConfirmPassword"></label>

                </div>
                <div class="col-5">
                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-2"></div>
                <div class="col-5">
                    <input type="radio" name="rdUserRole" value="@SD.Admin" checked /> @SD.Admin
                    <input type="radio" name="rdUserRole" value="@SD.Manager" /> @SD.Manager
                    <input type="radio" name="rdUserRole" value="@SD.User" /> @SD.User
                </div>
            </div>
            <div class="form-group row">
                <div class="col-5 offset-2">
                    <button type="submit" class="btn btn-primary form-control"><i class="fas fa-user-plus"></i> Register</button>
                </div>

            </div>
            
        </form>
        
    </div>

</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
